body{
    background: linear-gradient(to right, #09598e, #2ecc71);
    color: white;
    text-align: center;
}
.btn-grande {
    border-radius: 20px;
}
button:hover{
    transform: scale(140%);
    cursor: pointer;
}
label {
    color: white;
}
.icono{
    width: 20px;
    height: 20px;
}
img{
    width: 45%;
    height: 45%;
}